<!DOCTYPE html>
<html>
<head>
    <title>PDF Splitter</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h6>PDF Splitter</h6>
        <h2>Upload PDF File</h2>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="application/pdf">
            <input type="submit" value="Converting" accept="application/pdf">
        </form>
    </div>
</body>
</html>
